.container {
	height: 100vh;
	width: 100%;
	position: relative;
}

.container-top {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}

.stripes {
	position: absolute;
	top: 0;
	left: 0;
}

.clockBase {
	z-index: 1;
}

.logo {
	z-index: 1;
}

.container-bottom {
	position: relative;
	width: 100%;
	height: 50%;
}

.ground {
	position: absolute;
	top: 0;
	left: 0;
}

.lady {
	position: absolute;
	z-index: 3;
	bottom: 0;
	left: 10px;
}

.container-board {
	box-sizing: border-box;
	position: absolute;
	bottom: 20px;
	left: 40px;
	padding: 20px;
	width: 540px;
	height: 250px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column;
	text-align: center;
	z-index: 2;
}

.board {
	position: absolute;
	top: 0;
	left: 0;
}

.container-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sort-title {
	z-index: 1;
	text-align: center;
	width: 100%;
	margin: 0;
	text-transform: uppercase;
	font-family: monospace;
	font-size: 16pt;
}

.button {
	z-index: 1;
}

.container-filter-button {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.filter-button {
	position: relative;
	width: 56px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filter-button-img {
	position: absolute;
	top: 0;
	left: 0;
}

.filter-content {
	z-index: 1;
}

.line-divider {
	width: 180px;
	height: 7px;
	background-color: lightgray;
	z-index: 1;
	margin-bottom: 10px;
}

.container-bookcase {
	position: absolute;
	top: -55%;
	left: 0;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.bookcase {
	margin-left: 120px;
	position: absolute;
}

.book-shelf {
	margin-top: -10px;
	z-index: 1;
	margin-left: -20px;
	height: 300px;
	width: 465px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	padding-left: 5px;
	padding-right: 5px;
}

.book-shelf > div {
	margin-top: 30px;
	height: 150px;
	width: 100%;
}

.book {
	margin-left: 5px;
}
